*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  background: #111118;
  color: #e8e8ef;
}
